<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      table {
        border: 1px solid black;
      }
      .fighter_title {text-align: center;}

      body {
        background-color: #004643; 
        width: 500px;
        margin: auto;
        
      }
      h1, h2, {
        color: #fffffe;
      }

      ul {
        list-style-type: none;
      }


      ul a, dl {
        color: #001e1d;
        text-decoration: none;
        border: 3px solid #f9bc60;
        background-color: #f9bc60;
        border-radius: 50px;.
        padding: 15px 25px;
        
      }
        
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
